<div id="footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                 <ul class="list-inline">
                     <li><a href="#">Trang chu</a> </li>
                     <li><a href="#">Gioi thieu</a> </li>
                     <li><a href="#">Lien he</a> </li>
                 </ul>
                 <p class="text-muted">ban quyen thuoc ve tran trinh</p>
              </div>
          </div>
      </div>
  </div>
